
@font-face {
    font-family: 'AWConquerorDidot';
    src: url('AWConquerorDidot-Light.ttf') format('truetype');
  }

.navbar-nav .nav-item {
    margin-right: 15px; 
    font-size: 120%;
}
    .active{
        text-decoration: underline;
    }


.navbar {
    min-height: 80px;
    transition: top 0.1s ease-in-out;
    font-family: 'Poppins', sans-serif !important;
}

@media (max-width: 768px) {
    .navbar {
        min-height: auto;
    }
   
}

@media only screen and (max-width: 767px) {
  .banner-text.h3 {
      top: 80%; /* Adjust the top value for smaller screens */
  }
}

body {
    font-family: 'AWConquerorDidot', sans-serif;
    background-color: #343A40;
  }

.nav-link {
    color: white !important;
    font-weight: bold;
}

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.3s;
    border: none;

  }
  .card:hover{
    opacity: 0.8;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    color: white;
   font-weight: bold;
  }

.carrusel-margen{
    margin-top: 80px;
}


.carousel-inner {
    overflow: hidden;
  }

  .carousel-item {
    position: relative;
  }

  .carousel-item img {
    object-fit: cover; 
    width: 100%; 
    height: 70vh; 
  }

  .artist-name {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2em; 
    z-index: 1; 
  }

  #artist1 {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #artist2 {
    top: 150%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #artist3 {
    top: 230%; 
    left: 50%;
    transform: translate(-50%, 50%);
  }


    .btn-custom {
        background-color: black;
        color: white;
        border: 1px solid white;
    }
    .btn-custom:hover {
        background-color: grey;
    }

    .first-section{
      position: relative;
      justify-content: center;
      color: white;
    }
    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
  }
  
  .banner-text.h3 {
      top: 60%; 
  }
    